<ion-view view-title=""> 
    <ion-nav-buttons side="primary">
        <button class="button button-icon">2016</button>
        <button ng-click="redirect('tab/calendarDay/')" class="button button-icon">Today</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button ng-click="openModal('new')" class="button button-icon icon ion-android-add"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="card"
            ng-repeat="month in months"  
            ng-click="redirect('tab/calendarweek/{{parseInt(month.date)}}')"
            >
          <div class="item item-divider">
            {{month.date+"月"}}
          </div>
          <div class="item item-text-wrap">
            {{month.number}}篇文章
          </div>
            <!--<div class="item item-divider">
            I'm a Footer in a Card!
          </div> -->
        </div>
    </ion-content>
</ion-view>
