<ion-view view-title=""> 
    <ion-nav-buttons side="primary"> 
        <button ng-click="redirect('tab/calendarmonth')" class="button button-icon">Month</button>
        <button ng-click="redirect('tab/calendarDay/')" class="button button-icon">Today</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button ng-click="openModal('new')" class="button button-icon icon ion-android-add"></button>
    </ion-nav-buttons>
    <ion-content class="padding" >
        <!-- <a 
            ng-repeat="week in weeks"  
            href="#/tab/calendarDay/{{week.startDate}}"            
            class="button button-outline button-large button-dark" 
            style="line-height:1.75;margin:3px 3px;" 
            >
            
            summary text
            
            <br>
            
            {{week.weekNum+"周"}}

        </a> -->

        <div class="list card"
            ng-repeat="week in weeks"
            ng-click="redirect('tab/calendarDay/{{week.startDate}}')"
        >
          <div class="item item-text-wrap">
            <h2>{{week.weekNum+"周"}}</h2>
            <p style="color: #AAB2B9;">{{week.startDate}} 至 {{week.endDate}}</p>
            <p style="font-size:16px;">
                {{week.summary}}
            </p>
          </div>
          <!--<div class="item item-avatar">
            <img src="mcfly.jpg" alt="待添加">
            <h2>{{week.weekNum+"周"}}</h2>
            <p>{{week.startDate}} 至 {{week.endDate}}</p>
          </div>-->

          <!--<div class="item item-body">
            <img class="full-image" src="delorean.jpg" alt="待添加">
            <p>
                {{week.summary}}
            </p>
            <p>
              <a href="#" class="subdued">15 条笔记</a>
              <a href="#" class="subdued">25 次修改 </a>
            </p>
          </div>-->
        </div>
    </ion-content>
</ion-view>
