<ion-view view-title="Bricks">
    <ion-nav-buttons side="secondary">
        <button ng-click="openModal('new')" class="button button-icon icon ion-compose"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <a 
            ng-repeat="brick in bricks"  
            href="#/tab/threadtabs/common"            
            ng-class="{'button-outline':brick.stuff=='false'}"
            ng-click="assign(brick)"
            class="button  {{brick.color}}" 
            style="line-height:1.75;margin:3px 3px;" 
            >
            
            {{brick.thread_text}}
            <br>
            {{brick.type0|typeDescrip}} {{brick.type1|typeDescrip}} {{brick.type2|typeDescrip}} 
        </a>
    </ion-content>
</ion-view>
