<ion-view view-title="分类">
    <ion-nav-buttons side="secondary">
        <button ng-click="editor.openEditorModal('new')" class="button button-icon icon ion-compose"></button>
    </ion-nav-buttons>
    <ion-content>
        <div style="display:flex;flex-wrap:wrap;align-content:flex-end;">
        <a 
            ng-repeat="brick in bricks"  
            href="#/tab/threadtabs/common"
            ng-class="{'button-outline':brick.stuff=='false'}"
            ng-click="assign(brick)"
            class="button  {{brick.color}}" 
            style="line-height:47px;margin:3px 3px;padding: 0px 5px;" 
        >
            {{brick.thread_text}}
        </a>
        </div>
    </ion-content>
</ion-view>
