<ion-modal-view>    
    <ion-header-bar class="bar bar-header bar-positive">
        <button ng-click="closeThreadModal()" class="button light icon-left ion-ios-arrow-back button-clear">取消</button>
        <h1 class="title">Select Thread</h1>
        <button class="button button-clear button-primary" >notAllocate</button>
    </ion-header-bar>

    <ion-content>
        <a 
            ng-repeat="brick in bricks"  
            ng-class="{'button-outline':brick.stuff=='false'}"
            ng-click="editor.setRelation(brick)"
            class="button  {{brick.color}}" 
            style="line-height:47px;margin:3px 3px;padding: 0px 5px;" 
        >
            {{brick.thread_text}}
        </a>
        
    </ion-content>
</ion-modal-view>


    
