<ion-view view-title="{{title}}">
    <ion-nav-buttons side="primary">
         <a href="#/tab/thread" class="button icon-left ion-ios-arrow-back button-clear button-dark">&nbsp;Back</a>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button ng-click="openThreadViewModalDelegate()" class="button button-icon icon ion-more"></button>
        <button ng-click="openModal('new')" class="button button-icon icon ion-compose"></button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item ng-repeat="article in articles" ng-click="openModal(article)" class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" >
                <div style="display: inline-block;
                    position: absolute;
                    left: 0;"
                >
                    <button class="button {{article.buttonStyle}}" style="margin: 0 0 0 10px;padding:6px 0px;">
                        {{article.date_and_time | TimeToDate}}
                    </button>
                </div>

                <h2>{{article.content}}</h2>
                <p>{{article.content.slice(20) || "&nbsp;" }}</p>
                <p style="
                    font-size: 13px;
                    margin: 0 0 -6px 0;
                    color: #AAB2B9;;
                    ">
                    {{article.date_and_time|interpretTimestamp}}
                </p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(article)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
            on-infinite="loadMore()"
            distance="1%"
            ng-if="moreDataCanBeLoaded()">
        </ion-infinite-scroll>
    </ion-content> 
</ion-view>
