<div class="button-bar"> 
  <a ng-click="editor.setPeriod('0.04')" style="border-radius:4px 0px 0px 0px;" class="button button-outline button-dark">1h</a> 
  <a ng-click="editor.setPeriod('0.125')" class="button button-outline button-dark">3h</a> 
  <a ng-click="editor.setPeriod('0.25')" style="border-radius:0px 4px 0px 0px;" class="button button-outline button-dark">6h</a> 
</div> 
<div class="button-bar"> 
  <a ng-click="editor.setPeriod(1)" style="border-radius:0px;" class="button button-outline button-dark">1天</a> 
  <a ng-click="editor.setPeriod(3)" class="button button-outline button-dark">3天</a> 
  <a ng-click="editor.setPeriod(5)" style="border-radius:0px;" class="button button-outline button-dark">5天</a> 
</div> 
<div class="button-bar"> 
  <a ng-click="editor.setPeriod(7)" style="border-radius:0;" class="button button-outline button-dark">1周</a> 
  <a ng-click="editor.setPeriod(14)" class="button button-outline button-dark">2周</a> 
  <a ng-click="editor.setPeriod(21)" style="border-radius:0;"  class="button button-outline button-dark">3周</a> 
</div> 
<div class="button-bar"> 
  <a ng-click="editor.setPeriod(30)" style="border-radius:0px 0px 0px 4px;" class="button button-outline button-dark">1月</a> 
  <a ng-click="editor.setPeriod(60)" class="button button-outline button-dark">2月</a> 
  <a ng-click="editor.clockClose()" style="border-radius:0px 0px 4px 0px;"  class="button button-positive">X</a> 
</div> 
