<div class="tabs tabs-icon-left">
  <a class="tab-item" ng-click="editor.showSetRelationModal()" ng-class="{'active':category!='Category'}">
    <i class="icon ion-grid"></i>
    {{category||'Category'}}
  </a>
  <a class="tab-item" ng-click="editor.setPlan()" ng-class="{'active':article.type==1}">
    <i class="icon ion-star"></i>
    计划
  </a>
  <a class="tab-item" ng-click="editor.showSetClockModal()" ng-class="{'active':article.type==2}">
    <i class="icon ion-ios-clock"></i>
    提醒
  </a>
</div>   


    
