<div class="button-bar"> 
  <a ng-click="setPeriod(1)" class="button button-outline button-dark">1 day</a> 
  <a ng-click="setPeriod(3)" class="button button-outline button-dark">3 day</a> 
  <a ng-click="setPeriod(5)" class="button button-outline button-dark">5 day</a> 
</div> 
<div class="button-bar"> 
  <a ng-click="setPeriod(7)" class="button button-outline button-dark">1 W</a> 
  <a ng-click="setPeriod(14)" class="button button-outline button-dark">2 W</a> 
  <a ng-click="setPeriod(21)" class="button button-outline button-dark">3 W</a> 
</div> 
<div class="button-bar"> 
  <a ng-click="setPeriod(30)" class="button button-outline button-dark">1 M</a> 
  <a ng-click="setPeriod(60)" class="button button-outline button-dark">2 M</a> 
  <a ng-click="popupClose()" class="button button-positive">X</a> 
</div> 
