<ion-item 
    ng-repeat="note in list.notes"
    class="item-remove-animate item-avatar item-icon-right" 
    type="item-text-wrap" 
>
    <div ng-click="list.showSetRelationModal(note)" class="list-left-button-group">
        <button ng-if="note.type=='0'" class="list-left-button button button-dark">
            Note
        </button>
        <button ng-if="note.type=='1'" class="list-left-button button button-balanced">
            Plan
        </button>
        <button ng-if="note.type=='2'" class="list-left-button button button-assertive">
            Ready
        </button>
    </div>
    <!-- 文字内容部分 -->
    <div ng-click="list.openEditorModal(note)">
        <h2 class="article-content">
            {{note.content}}
        </h2>
        <p class='footnote-group'>
            <span>{{note.date_and_time|interpretTimestamp}}</span>
            <span>&nbsp;/{{note.thread_id|threadFilter}}</span>
            <span ng-click="list.showSetClockModal(note,$event)" class="set-clock ion-ios-timer-outline">
            </span>
        </p>
    </div>

    <ion-option-button class="button-assertive" ng-click="list.delete(note)">
        Delete
    </ion-option-button>

</ion-item>