.popup-title {
    font-size: 16px;
}


.article-content{
    white-space: initial !important; 
    font-size: 15px;
    line-height: 1.3;
}
.item-complex.item-icon-right .item-content{
    padding-right: 26px;    
    padding-left: 56px;
}

.list-left-button-group{
    display: inline-block;
    position: absolute;
    left: 0;
}
.list-left-button{
    padding: 0;
    font-size: 10px;
    margin-left: 9px;
    margin-top: 1px;
    min-width: 39px;
    border-radius: 0px;
    border-width: 0px;
    line-height: 36px;
    min-height: 39px;
}
.footnote-group{
    font-size: 13px;
    margin: 0 0 -6px 0;
    color: #5e8ab1 !important;
    padding-right: 32px;
}
.footnote-group .set-clock{
    position: absolute;
    right: 0px;
    display: inline-block;
    width: 61px;
    height: 37px;
    text-align: right;
    font-size: 24px;
    padding-right: 15px;
}