

  

<ion-view view-title="Common Article">
    <!-- <ion-nav-bar class="bar-stable"> -->
        <ion-nav-buttons side="primary">
             <a href="#/tab/thread" class="button icon-left ion-ios-arrow-back button-clear button-dark">&nbsp;Back</a>
        </ion-nav-buttons>
    <!-- </ion-nav-bar> -->

    <ion-content>
        <ion-list>
            <ion-item ng-click="openModal(article)" class="item-remove-animate item-avatar item-icon-right" ng-repeat="article in articles" type="item-text-wrap" >
                <div style="display: inline-block;
                    position: absolute;
                    left: 0;"
                >
                    <button class="button {{article.buttonStyle}}" style="margin: 0 0 0 10px;padding:0;">
                        {{article.date_and_time | switchReminder}}
                    </button>
                </div>

                <h2>{{article.content}}</h2>
                <p>{{article.content.slice(20)}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
            on-infinite="loadMore()"
            distance="1%"
            ng-if="moreDataCanBeLoaded()">
        </ion-infinite-scroll>
    </ion-content> 
</ion-view>
