<ion-view view-title="Day">
    <ion-nav-buttons >
        <button ng-click="redirect('tab/calendarweek/')" class="button button-icon icon ion-ios-arrow-back">&nbsp;Week</button>
        <button ng-click="redirect('tab/calendarDay/')" class="button button-icon">Today</button>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
        <button ng-click="redirect('tab/calendarDay/')" class="button button-icon icon ion-android-add"></button>
    </ion-nav-buttons>
    <ion-content > <!-- class="padding" -->
        <a 
            ng-repeat="day in days"  
            href="#/tab/threadtabs/plan"            
            class="button button-full button-large button-dark " 
            style="line-height:1.75;margin:3px 3px;" 
            >

            summary text
            
            <br>

            {{day.dateInChinese}}
        </a>
        <div class="item item-divider">
            本周笔记
        </div>
        <ion-list>
            <ion-item ng-click="openModal(article)" class="item-remove-animate item-avatar item-icon-right" ng-repeat="article in articles" type="item-text-wrap" >
                <div style="display: inline-block;
                    position: absolute;
                    left: 0;"
                >
                    <button class="button {{article.buttonStyle}}" style="margin: 0 0 0 10px;padding:0;">
                        {{article.date_and_time | switchReminder}}
                    </button>
                </div>

                <h2>{{article.content}}</h2>
                <p>{{article.content.slice(20)}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
