<ion-view view-title=""> 
    <ion-nav-buttons side="primary">
        <button class="button button-icon">2016</button>
        <button ng-click="redirect('tab/calendarDay/')" class="button button-icon">Today</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button ng-click="redirectWithHistory('tab/new')" class="button button-icon icon ion-android-add"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
<!--         <a 
            ng-repeat="month in months"  
            href="#/tab/calendarweek/{{month}}"
            class="button button-outline button-large button-dark" 
            style="line-height:1.75;margin:3px 3px;" 
            >
            
            summary text
            
            <br>
            
            {{month+"月"}}

        </a> -->
        <div class="card"
            ng-repeat="month in months"  
            ng-click="redirect('tab/calendarweek/{{month}}')"
            >
          <div class="item item-divider">
            {{month+"月"}}
          </div>
          <div class="item item-text-wrap">
            This is a basic Card with some text.
          </div>
<!--           <div class="item item-divider">
            I'm a Footer in a Card!
          </div> -->
        </div>
    </ion-content>
</ion-view>
