<div>
    <div 
        ng-show="show"
        keyboard-attach 
        ng-click="openThreadModal()" 
        class="keyboard-attach"
        style="
            position:fixed;left:0px;bottom:0px;
            height:30px;width:30px;line-height: 30px;
            text-align: center;
        "
    >
        <i class="icon ion-grid"></i>
    </div>
    <div 
        ng-show="show"
        keyboard-attach 
        ng-click="stopPro($event)" 
        class="keyboard-attach2"
        style="
            position:fixed;right:0px;bottom:0px;
            height:30px;width:30px;line-height: 30px;
            text-align: center;
        "
    >
        <i class="icon ion-checkmark"></i>
    </div>
</div>   