<ion-view view-title="回顾">
<!--     <ion-nav-buttons side="primary">
        <button ng-click="toggleView()" class="button button-icon">{{toggleViewName}}</button>
    </ion-nav-buttons>
 -->
    <ion-nav-buttons side="secondary">
        <button ng-click="editor.openEditorModal('new')" class="button button-icon icon ion-compose"></button>
    </ion-nav-buttons>

	<ion-content>
    
        <ion-refresher on-refresh="doRefresh()"  
            pulling-text="下拉刷新..."   
            refreshing-text="正在刷新!"  
            refreshing-icon="ion-loading-b">        
        </ion-refresher>  

	    <ion-list>
            <a class="item item-icon-left" href="#/tab/noteListSpecial/All">
                <i class="icon ion-briefcase"></i>
                    所有
                <span class="item-note" style="margin-right: 20px;font-size: 16px;">
                    {{articleNumber.all}}
                </span>
            </a>
	        <a class="item item-icon-left" href="#/tab/noteListSpecial/Untreated">
	    		<i class="icon ion-planet"></i>
	    			未处理
	    		<span class="item-note" style="margin-right: 20px;font-size: 16px;">
	    			{{articleNumber.untreated}}
	    		</span>
	        </a>

            <a class="item item-icon-left" href="#/tab/noteListSpecial/Uncategorized">
        		<i class="icon ion-ios-color-filter"></i>
        			未分类别
        		<span class="item-note" style="margin-right: 20px;font-size: 16px;">
        			{{articleNumber.uncategorized}}
        		</span>
            </a>
	        <a class="item item-icon-left" href="#/tab/noteListByType/0">
	    		<i class="icon ion-leaf"></i>
	    			普通笔记
	    		<span class="item-note" style="margin-right: 20px;font-size: 16px;">
	    			{{articleNumber.raw}}
	    		</span>
	        </a>	        
		    <a class="item item-icon-left" href="#/tab/noteListByType/1">
		      	<i class="icon ion-android-locate"></i>
		      		计划
				<span class="badge badge-balanced" >
					{{articleNumber.plan}}
				</span>
		    </a>
	        <a class="item item-icon-left" href="#/tab/noteListByType/2">
	    		<i class="icon ion-coffee"></i>
	    			提醒
	    		<span ng-if="type2!='0'" class="badge badge-assertive">{{articleNumber.hover}}</span>
	        </a>

            <a
                ng-repeat="month in months" 
                class="item item-icon-left" 
                href="#/tab/noteListByMonth/{{month.date}}"
            >
                <i class="icon ion-ios-paper-outline"></i>
                    {{month.date}}月
                <span class="item-note" style="margin-right: 20px;font-size: 16px;">
                    {{month.number}}
                </span>
            </a>        
	    </ion-list>
	</ion-content>
</ion-view>
